.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #FFF;
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
}
.header_inner {
    align-items: center;
    margin: 0 auto;
    
}
.header_logo {
    font-size: 32px;
    text-decoration: none;
    color: #888270;
}
.button {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.btn {
    text-decoration: none;
}